{% extends 'blog/base.html'%}
{% block content %}
    <div class="content-section">
        <h1>This is collective brainstorming.</h1> 
        <br>
        <h5>A space to share your ideas.</h5>
        <hr>
        <h4>Just as the energy of moving water can propel a water wheel into motion, so can stimuli 
            engage the imagination and our creative impulses. 
            <br>
            <br>
            <h6>Collective brainstorming can generate phenomenal inspiration and can generate ideas that would not have
            been possible without the contribution of multiple minds.</h6>
        </h4>
        <br>
        <small>
        <hr> <i style="font-size:24px" class="fa">&#xf0c2;</i> 
        Create an account, write your first blog post and experience the cloud!
        <i style="font-size:24px" class="fa">&#xf0c2;</i>
        <hr> 
        </small>
    </div>
{% endblock content %}