{% extends 'blog/base.html'%}
{% block content %}
    <div class="content-section">
        <h1>this is <i>collective brainstorming</i></h1> 
        <br>
        <h5>a space to share your ideas</h5>
        <hr>
        <h4>just as the energy of moving water can propel a water wheel into motion, so can stimuli 
            engage the imagination and our creative impulses. 
            <br>
            <br>
            <h6>collective brainstorming can generate phenomenal inspiration and can generate ideas that would not have
            been possible without the contribution of <b>multiple minds</b>.</h6>
        </h4>
        <br>
        <h4>create an account, write your first blog post and receive feedback!</h4>
    </div>
{% endblock content %}